<p id="notice"><%= notice %></p>

<h1>Ferramentas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th>Disponibilidade</th>
      <th>Categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ferramentas.each do |ferramenta| %>
      <tr>
        <td><%= ferramenta.nome %></td>
        <td><%= ferramenta.descricao %></td>
        <td><%= ferramenta.disponibilidade %></td>
        <td><%= ferramenta.categoria.nome %></td>
        <td><%= link_to 'Show', ferramenta %></td>
        <td><%= link_to 'Edit', edit_ferramenta_path(ferramenta) %></td>
        <td><%= link_to 'Destroy', ferramenta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ferramenta', new_ferramenta_path %>
