<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @ferramenta.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @ferramenta.descricao %>
</p>

<p>
  <strong>Disponibilidade:</strong>
  <%= @ferramenta.disponibilidade %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @ferramenta.categoria.nome %>
</p>

<%= link_to 'Edit', edit_ferramenta_path(@ferramenta) %> |
<%= link_to 'Back', ferramentas_path %>
